layout: index
description: NBSafety makes it easier to reason about out-of-order execution in Jupyter notebooks.
subtitle: Fearless interactivity for Jupyter notebooks
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title Automate Management of Notebook State
      p.intro-feature-desc NBSafety uses predictive dataflow to suggest what cell to execute next, but leaves you in charge of the actual decision.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bug
      h3.intro-feature-title Catch Notebook Bugs Early
      p.intro-feature-desc NBSafety highlights cells that are unsafe to execute due to staleness bugs.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-book
      h3.intro-feature-title Keep Familiar Notebook Semantics
      p.intro-feature-desc No new API to learn, no changes to user behavior -- skip the learning curve and adhere to the notebook semantics you know and love.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-download
      h3.intro-feature-title Easy Installation
      p.intro-feature-desc Installs in a couple of commands. No complicated scripting or other setup.
